@import url('./__article/about-author__article.css');
@import url('./__container/about-author__container.css');
@import url('./__photo/about-author__photo.css');
@import url('./__texts/about-author__texts.css');
@import url('./__title/about-author__title.css');

.about-author {
    width: 100%;
    padding-bottom: 80px;
    margin-top: 0;
}
