.technologies__grid-mini {
    width: 272px;
    display: grid;
    grid-template-columns: repeat(2, 120px);
    column-gap: 32px;
    row-gap: 23px;
    margin: auto;
    margin-top: 40px;
    justify-items: center;
    display: none;
}

@media screen and (max-width: 570px) {
    .technologies__grid-mini {
        display: grid;
    }
}

@media screen and (max-width: 350px) {

    .technologies__grid-mini {
        width: 100%;
    }
}