.about-author__texts {
    width: 600px;
    margin-top: 131px;
}

@media screen and (max-width: 1171px) {

    .about-author__texts {
        width: 500px;
    }
}

@media screen and (max-width: 940px) {

    .about-author__texts {
        width: 424px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 451px) {

    .about-author__texts {
        width: 288px;
        margin-top: 24px;
    }
}