.header__menu_active {
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
    font-family: Roboto;
    font-weight: normal;
}

.header__menu_active-black {
    color: #1A1B22;
}