.about-author__title {
    width: 496px;
    height: 46px;
    font-family: Roboto Slab;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    margin-bottom: 24px;
}