@import url('./__slider/slider.css');
@import url('./__header/__header.css');
@import url('./__link-mini/__link-mini.css');

.commits {
    height: 556px;
    background-color: #F5F6F7;
    padding-top: 72px;
    padding-bottom: 32px;
}

@media screen and (max-width: 800px) {
    .commits {
        height: 526px;
    }
}

@media screen and (max-width: 600px) {
    .commits {
        height: 568px;
    }
}