.about-author__container {
    width: 1120px;
    display: flex;
    justify-content: space-between;
    margin-left: 104px; 
}

@media screen and (max-width: 1241px) {

    .about-author__container {
        margin-left: 23px;
    }
}

@media screen and (max-width: 1151px) {

    .about-author__container {
        width: 900px;
    }
}

@media screen and (max-width: 940px) {

    .about-author__container {
        width: 688px;
    }
}

@media screen and (max-width: 770px) {

    .about-author__container {
       margin-left: 40px;
    }
}

@media screen and (max-width: 740px) {

    .about-author__container {
       margin: auto;
    }
}

@media screen and (max-width: 710px) {

    .about-author__container {
        width: 500px;
       flex-direction: column;
       align-items: center;
    }
}

@media screen and (max-width: 501px) {

    .about-author__container {
        width: 424px;
       flex-direction: column;
       align-items: center;
    }
}

@media screen and (max-width: 451px) {

    .about-author__container {
        width: 288px;
    }
}