@font-face {
    src: url('../../fonts/roboto-medium-webfont.woff');
    font-family: Roboto;
    font-weight: 500;
}

@font-face {
    src: url('../../fonts/roboto-regular-webfont.woff');
    font-family: Roboto;
    font-weight: normal;
}

@font-face {
    src:  url('../../fonts/robotoslab-regular-webfont.woff');
    font-family: Roboto Slab;
    font-weight: lighter;
}

.page {
    width: 100%;
    background-color: #ffffff;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0 auto;
}