@import url('../search-process/__circle-preloader/__circle-preloader.css');
@import url('../search-process/__title/__title.css');

.search-process {
    background-color: #F5F6F7;
    margin-top: 0;
    overflow: hidden;
}