.header__logo {
    color: white;
    font-size: 20px;
    line-height: 24px;
    font-family: Roboto Slab;
    font-weight: normal;
    margin-left: 104px;
    text-decoration: none;
}

.header__logo-black {
    color: #1A1B22;
}

@media screen and (max-width: 1283px) {

    .header__logo {
        margin-left: 94px;
    }
}

@media screen and (max-width: 1026px) {

    .header__logo {
        margin-left: 84px;
    }
}

@media screen and (max-width: 960px) {

    .header__logo {
        margin-left: 64px;
    }
}

@media screen and (max-width: 769px) {

    .header__logo {
        margin-left: 54px;
    }
}

@media screen and (max-width: 537px) {

    .header__logo {
        margin-left: 44px;
        font-size: 16px;
    }
}

@media screen and (max-width: 460px) {

    .header__logo {
        margin-left: 34px;
    }
}

@media screen and (max-width: 380px) {

    .header__logo {
        margin-left: 16px;
    }
}