@import url('./__icons/__icons.css');
@import url('./__container/__container.css');

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 26px;
}

@media screen and (max-width: 671px) {

    .footer {
        align-items: flex-start;
        margin-top: 25px;
    }
}

@media screen and (max-width: 600px) {

    .about-footer {
        margin-top: 60px;
    }
}

@media screen and (max-width: 451px) {

    .footer {
        margin-top: 64px;
    }
}