@import url('./__title/__title.css');
@import url('./__link-container/__link-container.css');

.commits__header {
    width: 85%;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 64px;
}

