@import url('./__grid/__grid.css');
@import url('./__title/__title.css');

.technologies__container{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 980px) {

    .technologies__container{
        flex-direction: column;
    }
}