@import url('./__grid/__grid.css');
@import url('./__title/__title.css');
@import url('./__grid-mini/__grid-mini.css');

.technologies__container{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 980px) {

    .technologies__container{
        flex-direction: column;
    }
}

/*@media screen and (max-width: 780px) {

    .technologies__container {
        width: 672px;
    }
}

@media screen and (max-width: 570px) {
    .technologies__container {
        width: 100%;
    }
}

@media screen and (max-width: 350px) {

    .technologies__container {
        width: 272px;
    }
}*/