@import url('./__circle-preloader/search-process__circle-preloader.css');
@import url('./__title/search-process__title.css');

.search-process {
    width: 100%;
    background-color: #F5F6F7;
    margin-top: 0;
    padding-top: 80px;
    padding-bottom: 80px;
    display: none;
}