@import url('./__title/__title.css');
@import url('./__link-container/__link-container.css');

.cards-container__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 64px;
}

@media screen and (max-width: 1026px) {

    .cards-container__header {
        margin-top: 56px;
        margin-bottom: 44px;
    }
}

@media screen and (max-width: 769px) {

    .cards-container__header {
        margin-top: 12px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 651px) {

    .cards-container__header {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 501px) {

    .cards-container__header {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 40px;
    }
}