@import url('./__diagramm/__diagramm.css');
@import url('./__info/__info.css');
@import url('./__line-digits/__line-digits.css');
@import url('./__line/__line.css');

.analytics__graph {
    width: 86%;
    margin: auto;
}

@media screen and (max-width: 770px) {

    .analytics__graph {
        width: 90%;
    }
}