.footer__container {
    width: 850px;
    margin-left: 104px;
    display: flex;
    justify-content: space-between;
    margin-right: 75px;
}

@media screen and (max-width: 901px) {

    .footer__container {
        margin-left: 50px;
    }
}

@media screen and (max-width: 801px) {

    .footer__container {
        margin-left: 40px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 701px) {

    .footer__container {
        margin-right: 45px;
    }
}

@media screen and (max-width: 671px) {

    .footer__container {
        flex-direction: column-reverse;
        margin-right: 0;
    }
}

@media screen and (max-width: 330px) {

    .footer__container {
        margin-left: 16px;
    }
}