.card__article {
    width: 352px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 916px) {

    .card__article {
        width: 260px;
        height: 88px;
        margin: 0;
    }
}

@media screen and (max-width: 800px) {

    .card__article {
        width: 192px;
    }
}

@media screen and (max-width: 543px) {

    .card__article {
        width: 352px;
    }
}

@media screen and (max-width: 429px) {

    .card__article {
        width: 260px;
        margin: 0;
    }
}