@import url('./__image/__image.css');
@import url('./__title/__title.css');
@import url('./__subtitle/__subtitle.css');

.no-results {
    height: 374px;
    background-color: #F5F6F7;
    display: none;
}