.cards-container__title {
    max-width: 712px;
    font-family: Roboto Slab;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    margin-left: 104px;
}

@media screen and (max-width: 1283px) {

    .cards-container__title {
        margin-left: 94px;
    }
}

@media screen and (max-width: 1026px) {

    .cards-container__title {
        margin-left: 84px;
    }
}

@media screen and (max-width: 960px) {

    .cards-container__title {
        margin-left: 64px;
    }
}

@media screen and (max-width: 769px) {

    .cards-container__title {
        margin-left: 54px;
        font-size: 30px;
        line-height: 34px;
        margin-top: 28px;
    }
}

@media screen and (max-width: 537px) {

    .cards-container__title {
        margin-left: 44px;
    }
}

@media screen and (max-width: 501px) {

    .cards-container__title {
        max-width: 288px;
        margin-top: 0;
        margin-bottom: 6px;
    }
}

@media screen and (max-width: 380px) {

    .cards-container__title {
        margin-bottom: 26px;
        margin-left: 16px;
    }
}