.searcher__subtitle {
    width: 545px;
    height: 48px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: white;
    margin-left: 415px;
    margin-top: 32px;
    margin-bottom: 0;
}