@import url('./__button/__button.css');
@import url('./__grid-container/__grid-container.css');
@import url('./__header/__header.css');

.cards-container {
    min-height: 974px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F6F7;
}