@import url('./path-link/path-link.css');
@import url('./path-place/path-place.css');

.main__path {
    width: 350px;
    height: 24px;
    margin-bottom: 80px;
}

@media screen and (max-width: 769px) {

    .main__path {
        margin-bottom: 64px;
    }
}

@media screen and (max-width: 401px) {

    .main__path {
        display: none;
    }
}