@import url('../searcher/searcher.css');
@import url('../search-process/search-process.css');
@import url('../no-results/no-results.css');
@import url('../about-author/about-author.css');
@import url('../footer/footer.css');
@import url('../cards-container/cards-container.css');
@import url('../page/fonts.css');

.page {
    max-width: 1440px;
    min-width: 320px;
    width: 100vw;
    background-color: #ffffff;
    font-family: Roboto;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

@font-face {
    src: url('../../../../src/fonts/roboto-medium-webfont.woff');
    font-family: Roboto;
    font-weight: 500;
}

@font-face {
    src: url('../../../../src/fonts/roboto-regular-webfont.woff');
    font-family: Roboto;
    font-weight: normal;
}

@font-face {
    src:  url('../../../../src/fonts/robotoslab-regular-webfont.woff');
    font-family: Roboto Slab;
    font-weight: lighter;
}