@import url('./header/header.css');
@import url('./__line/__line.css');
@import url('./__search/__search.css');
@import url('./__bold-line/__bold-line.css');

.searcher {
    width: 100%;
    height: 576px;
    background-image: url("<%=require('../../../../src/images/georgia-de-lotz--UsJoNxLaNo-unsplash.png')%>");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    position: relative;
}

@media screen and (max-width: 769px) {

    .searcher {
        height: 400px;
    }
}

@media screen and (max-width: 380px) {

    .searcher {
        height: 536px;
    }
}