.searcher__title {
    width: 590px;
    font-family: Roboto Slab;
    font-size: 60px;
    line-height: 64px;
    color: white;
    font-weight: lighter;
    margin-top: 80px;
    margin-bottom: 0;
}

@media screen and (max-width: 769px) {

    .searcher__title {
        width: 380px;
        font-size: 36px;
        line-height: 40px;
        margin-top: 40px;

    }
}

@media screen and (max-width: 380px) {

    .searcher__title {
        width: 285px;
        margin-top: 30px;
    }
}