@import url('./card-image/card-image.css');
@import url('./card-texts/card-texts.css');

.cards-container__card {
    width: 400px;
    height: 576px;
    background-color: white;
    border-radius: 16px;
}

@media screen and (max-width: 916px) {

    .cards-container__card {
        width: 288px;
        height: 447px;
    }
}

@media screen and (max-width: 800px) {

    .cards-container__card {
        width: 224px;
        height: 420px;
    }
}

@media screen and (max-width: 543px) {

    .cards-container__card {
        width: 400px;
        height: 576px;
    }
}

@media screen and (max-width: 429px) {

    .cards-container__card {
        width: 288px;
        height: 447px;
    }
}