@import url('./__search/__search.css');
@import url('./__subtitle/__subtitle.css');
@import url('./__title/__title.css');

.searcher {
    width: 100%;
    min-height: 576px;
    background-image: url('../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.png');
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 769px) {

    .searcher {
        height: 400px;
    }
}

@media screen and (max-width: 380px) {

    .searcher {
        height: 536px;
    }
}