.searcher__title {
    width: 590px;
    height: 128px;
    font-family: Roboto Slab;
    font-size: 60px;
    line-height: 64px;
    color: white;
    font-weight: lighter;
    margin-left: 415px;
    margin-top: 80px;
    margin-bottom: 0;
}