@import url('./_mini/commits__link_mini.css');

.commits__link {
    width: 152px;
    height: 24px;
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    text-decoration: none;
}