.header__menu_inactive {
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    text-decoration: none;
    font-family: Roboto;
    font-weight: normal;
}

.header__menu_inactive:hover {
    color: white;
}

.header__menu_inactive-black:hover {
    color: #1A1B22
}