.card__image {
    width: 400px;
    min-height: 272px;
    max-height: 272px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin-bottom: 20px;
}

@media screen and (max-width: 916px) {

    .card__image {
        width: 288px;
        min-height: 210px;
        max-height: 210px;
        margin-bottom: 6px;
    }
}

@media screen and (max-width: 800px) {

    .card__image {
        width: 224px;
        min-height: 150px;
        max-height: 150px;
    }
}

@media screen and (max-width: 543px) {

    .card__image {
        width: 400px;
        height: 272px;
    }
}

@media screen and (max-width: 429px) {

    .card__image {
        width: 288px;
        height: 210px;
    }
}