.no-results__subtitle {
    width: 356px;
    height: 48px;
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    margin-left: 542px;
    text-align: center;
    margin-top: 0;
}