@import url('./__container/__container.css');

.main {
    background-color: white;
    padding-left: 104px;
    padding-top: 40px;
    padding-bottom: 80px;
}

@media screen and (max-width: 901px) {

    .main {
        padding-left: 40px;
    }
}

@media screen and (max-width: 401px) {

    .main {
       padding-left: 16px;
       padding-top: 16px;
       padding-bottom: 24px;
    }
}