@import url('./card-article/card-article.css');
@import url('./card-date/card-date.css');
@import url('./card-source/card-source.css');
@import url('./card-title/card-title.css');

.card-texts {
    width: 352px;
    height: 260px;
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    position: relative;
}