@import url('./__container/no-results__container.css');
@import url('./__image/no-results__image.css');
@import url('./__subtitle/no-results__subtitle.css');
@import url('./__title/no-results__title.css');

.no-results {
    width: 100%;
    background-color: #F5F6F7;
    padding-top: 86px;
    padding-bottom: 80px;
    display: none;
}