.footer__menu {
    width: 404px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 720px) {

    .footer__menu {
        width: 350px;
    }
}

@media screen and (max-width: 671px) {

    .footer__menu {
        width: 184px;
        height: 120px;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 40px;
    }
}