@import url('./__article/__article.css');
@import url('./__title/__title.css');

.client-article {
    padding-top: 80px;
    padding-left: 104px;
}

@media screen and (max-width: 960px) {

    .client-article {
        padding-top: 30px;
        padding-left: 0;
    }

}