@import url('../pages-styles/about/blocks/client-article/client-article.css');
@import url('../pages-styles/about/blocks/technologies/technologies.css');
@import url('../pages-styles/about/blocks/commits/commits.css');
@import url('../pages-styles/index/blocks/footer/footer.css');
@import url('../pages-styles/index/blocks/searcher/header/header.css');
@import url('../pages-styles/index/blocks/about-author/about-author.css');
@import url('../pages-styles/index/blocks/searcher/__bold-line/__bold-line.css');

@font-face {
    src: url('../src/fonts/roboto-medium-webfont.woff');
    font-family: Roboto;
    font-weight: 500;
}

@font-face {
    src: url('../src/fonts/roboto-regular-webfont.woff');
    font-family: Roboto;
    font-weight: normal;
}

@font-face {
    src:  url('../src/fonts/robotoslab-regular-webfont.woff');
    font-family: Roboto Slab;
    font-weight: lighter;
}