@import url('./blocks/about-author/about-author.css');
@import url('./blocks/search-process/search-process.css');
@import url('./blocks/cards-container/cards-container.css');
@import url('./blocks/card/card.css');
@import url('./blocks/searcher/searcher.css');
@import url('./blocks/form/form.css');
@import url('./blocks/header/header.css');
@import url('./blocks/footer/footer.css');
@import url('./blocks/no-results/no-results.css');

.page {
    width: 100%;
    background-color: #ffffff;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

@font-face {
    src: url('./fonts/roboto-medium-webfont.woff');
    font-family: Roboto;
    font-weight: 500;
}

@font-face {
    src: url('./fonts/roboto-regular-webfont.woff');
    font-family: Roboto;
    font-weight: normal;
}

@font-face {
    src:  url('./fonts/robotoslab-regular-webfont.woff');
    font-family: Roboto Slab;
    font-weight: lighter;
}