.no-results__subtitle {
    width: 340px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    margin: auto;
    text-align: center;
    margin-top: 0;
}

@media screen and (max-width: 380px) {

    .no-results__subtitle {
        width: 300px;
    }
}