.client-article__article {
    width: 815px;
    height: 458px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
}