@import url('./_active/_active.css');
@import url('./_inactive/_inactive.css');

.header__menu {
    width: 189px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    margin-right: 101px;
}

@media screen and (max-width: 1283px) {

    .header__menu {
        margin-right: 91px;
    }
}

@media screen and (max-width: 1026px) {

    .header__menu {
        margin-right: 81px;
    }
}

@media screen and (max-width: 960px) {

    .header__menu {
        margin-right: 61px;
    }
}

@media screen and (max-width: 769px) {

    .header__menu {
        margin-right: 51px;
    }
}

@media screen and (max-width: 537px) {

    .header__menu {
        margin-right: 41px;
    }
}

@media screen and (max-width: 460px) {

    .header__menu {
        margin-right: 31px;
        width: 200px;
    }
}

@media screen and (max-width: 380px) {

    .header__menu {
        margin-right: 14px;
    }
}