.commits__link-mini {
    width: 227px;
    height: 56px;
    border: 1px solid #1A1B22;
    border-radius: 80px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 69px;
    margin: auto;
    margin-top: -88px;
    display: none;
    cursor: url('../../../images/cursor.svg'), pointer;
}

@media screen and (max-width: 600px) {
    .commits__link-mini {
        display: flex;
    }
}