@font-face {
    src: url(/news-diploma-project./vendor/roboto-medium-webfont.woff);
    font-family: Roboto;
    font-weight: 500;
}

@font-face {
    src: url(/news-diploma-project./vendor/roboto-regular-webfont.woff);
    font-family: Roboto;
    font-weight: normal;
}

@font-face {
    src:  url(/news-diploma-project./vendor/robotoslab-regular-webfont.woff);
    font-family: Roboto Slab;
    font-weight: lighter;
}
.client-article__article {
    width: 815px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    margin-bottom: 94px;
}

@media screen and (max-width: 960px) {

    .client-article__article {
        width: 688px;
        margin: auto;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 720px) {

    .client-article__article {
        width: 550px;
    }
}

@media screen and (max-width: 600px) {

    .client-article__article {
        width: 450px;
    }
}

@media screen and (max-width: 500px) {

    .client-article__article {
        width: 350px;
    }
}

@media screen and (max-width: 400px) {

    .client-article__article {
        width: 288px;
    }
}
.client-article__title {
    font-family: Roboto Slab;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    margin: 0;
}

@media screen and (max-width: 960px) {

    .client-article__title {
        width: 688px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 800px) {

    .client-article__title {
        font-size: 30px;
        line-height: 34px;
    }
}

@media screen and (max-width: 720px) {

    .client-article__title {
        width: 550px;
    }
}

@media screen and (max-width: 600px) {

    .client-article__title {
        width: 450px;
    }
}

@media screen and (max-width: 500px) {

    .client-article__title {
        width: 350px;
        line-height: 40px;
    }
}

@media screen and (max-width: 400px) {

    .client-article__title {
        width: 288px;
    }
}
.client-article {
    padding-top: 80px;
    padding-left: 104px;
}

@media screen and (max-width: 960px) {

    .client-article {
        padding-top: 30px;
        padding-left: 0;
    }

}
.technologies__grid-elem {
    width: 90px;
    height: 24px;
    text-align: center;
}
.technologies__grid-icon {
    width: 88px;
    height: 97px;
}

.js-icon {
    width: 92px;
    height: 92px
}

@media screen and (max-width: 570px) {

    .html-icon {
        margin-bottom: 18px;
    }

    .css-icon {
        margin-bottom: 18px;
    }
}

.technologies__grid {
    width: 600px;
    height: 144px;
    display: grid;
    grid-template-columns: repeat(4, 120px);
    column-gap: 40px;
    margin-top: 19px;
}

@media screen and (max-width: 1150px) {

    .technologies__grid {
        margin-top: 0;
    }
}

@media screen and (max-width: 980px) {

    .technologies__grid {
        margin-top: 40px;
        column-gap: 64px;
    }
}

@media screen and (max-width: 700px) {

    .technologies__grid {
        column-gap: 40px;
    }
}

@media screen and (max-width: 630px) {

    .technologies__grid {
        column-gap: 20px;
    }
}

@media screen and (max-width: 570px) {

    .technologies__grid {
        display: none;
    }
}
.technologies__title {
    width: 344px;
    font-family: Roboto Slab;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    margin: 0;
}

@media screen and (max-width: 1150px) {

    .technologies__title {
        font-size: 30px;
        line-height: 34px;
    }
}
.technologies__grid-mini {
    width: 272px;
    display: grid;
    grid-template-columns: repeat(2, 120px);
    column-gap: 32px;
    row-gap: 23px;
    margin: auto;
    margin-top: 40px;
    justify-items: center;
    display: none;
}

@media screen and (max-width: 570px) {
    .technologies__grid-mini {
        display: grid;
    }
}

@media screen and (max-width: 350px) {

    .technologies__grid-mini {
        width: 100%;
    }
}
.technologies__container{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 980px) {

    .technologies__container{
        flex-direction: column;
    }
}

@media screen and (max-width: 780px) {

    .technologies__container {
        width: 672px;
    }
}

@media screen and (max-width: 570px) {
    .technologies__container {
        width: 100%;
    }
}

@media screen and (max-width: 350px) {

    .technologies__container {
        width: 272px;
    }
}
.technologies {
    background-color: #F5F6F7;
    padding-left: 104px;
    padding-right: 230px;
    padding-top: 75px;
    padding-bottom: 97px;
}

@media screen and (max-width: 1301px) {

    .technologies {
        padding-right: 100px;
    }
}

@media screen and (max-width: 1150px) {

    .technologies {
        padding-right: 50px;
        padding-left: 50px;
    }
}

@media screen and (max-width: 980px) {

    .technologies {
        padding-top: 40px;
        padding-left: 80px;
        padding-bottom: 49px;
        padding-right: 71px;
    }
}

@media screen and (max-width: 780px) {

    .technologies {
        padding-left: 40px;
    }
}

@media screen and (max-width: 570px) {

    .technologies {
        padding-right: 40px;
    }
}

@media screen and (max-width: 350px) {

    .technologies {
        padding-right: 0;
    }
}

@media screen and (max-width: 330px) {

    .technologies {
        padding-left: 20px;
    }
}
.slider-card__article {
    width: 88%;
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22
}


@media screen and (max-width: 1210px) {
    .slider-card__article {
        margin-top: 50px;
    }
}

@media screen and (max-width: 1000px) {
    .slider-card__article {
        margin-top: 30px;
    }
}
.slider-card__date {
    width: 192px;
    height: 22px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #B6BCBF;
}
.slider-card__photo {
    height: 64px;
    width: 64px;
    border-radius: 1000px;
}

@media screen and (max-width: 1210px) {
    .slider-card__photo {
        margin-top: 15px;
    }
}
.slider-card__email {
    width: 196px;
    height: 22px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #1A1B22;
}
.slider-card__name {
    width: 296px;
    min-height: 30px;
    font-family: Roboto Slab;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
}

@media screen and (max-width: 1210px) {
    .slider-card__name {
        width: 206px;
        margin-bottom: 30px;
    }
}
.slider-card__user-info {
    width: 196px;
    height: 54px;
    display: flex;
    flex-direction: column;
}
.slider-card__user {
    height: 64px;
    width: 276px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

@media screen and (max-width: 1210px) {
    .slider-card__user {
        margin-top: 8px;
    }
}
.slider-card {
    width: 400px;
    background-color: white;
    border-radius: 16px;
    padding-top: 24px;
    padding-left: 24px;
    margin-right: 16px;
    padding-bottom: 58px;
}

@media screen and (max-width: 1210px) {
    .slider-card {
        width: 310px;
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 1070px) {
    .slider-card {
        padding-bottom: 0;
    }
}
/*! Flickity v2.2.1
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19F;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: currentColor;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
}

.flickity-prev-next-button.previous { left: 10px; }
.flickity-prev-next-button.next { right: 10px; }
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots { direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

.commits__arrow-disc {
    width: 40px;
    height: 40px;
    background: #1A1B22;
    border-radius: 50%;
    position: absolute;
    top: 146px;
    padding-top: 13px;
}

@media screen and (max-width: 800px) {
    .glide__arrow {
        display: none;
    }
}
.commits__slider {
    display: flex;
    flex-direction: row;
}
.commits__title {
    width: 712px;
    font-family: Roboto Slab;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22
}

@media screen and (max-width: 950px) {
    .commits__title {
        width: 336px;
        font-size: 30px;
        line-height: 34px;
    }
}
.commits__icon {
    width: 24px;
    height: 24px;
}
.commits__link {
    width: 152px;
    height: 24px;
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    text-decoration: none;
}
.commits__link-container {
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.commits__link-container:hover {
    opacity: 0.4;
}

@media screen and (max-width: 600px) {
    .commits__link-container {
        display: none;
    }
}
.commits__header {
    width: 85%;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 64px;
}


.commits__link-mini {
    width: 227px;
    height: 56px;
    border: 1px solid #1A1B22;
    border-radius: 80px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 69px;
    margin: auto;
    margin-top: -88px;
    display: none;
}

@media screen and (max-width: 600px) {
    .commits__link-mini {
        display: flex;
    }
}
.commits {
    height: 556px;
    background-color: #F5F6F7;
    padding-top: 72px;
    padding-bottom: 32px;
}

@media screen and (max-width: 800px) {
    .commits {
        height: 526px;
    }
}

@media screen and (max-width: 600px) {
    .commits {
        height: 568px;
    }
}
.footer__link {
    width: 24px;
    height: 24px;
}

.cat {
    margin-right: 28px;
}

@media screen and (max-width: 451px) {

    .cat {
        margin-right: 21px;
    }
}
.footer__icons {
    width: 74px;
    display: flex;
    justify-content: space-between;
    margin-right: 104px;
}

@media screen and (max-width: 901px) {

    .footer__icons {
        margin-right: 50px;
    }
}

@media screen and (max-width: 801px) {

    .footer__icons {
        margin-right: 42px;
    }
}

@media screen and (max-width: 720px) {

    .footer__icons {
        width: 55px;
    }
}

@media screen and (max-width: 671px) {

    .footer__icons {
        width: 68px;
    }
}

@media screen and (max-width: 330px) {

    .footer__icons {
        margin-right: 18px;
    }
}
.footer__copyright {
    width: 130px;
    height: 22px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
}


.footer__menu-item {
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    font-family: Roboto;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
}

.footer__menu-item:hover {
    opacity: 0.4;
}
.footer__menu {
    width: 404px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 720px) {

    .footer__menu {
        width: 350px;
    }
}

@media screen and (max-width: 671px) {

    .footer__menu {
        width: 184px;
        height: 120px;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 40px;
    }
}
.footer__container {
    width: 850px;
    margin-left: 104px;
    display: flex;
    justify-content: space-between;
    margin-right: 75px;
}

@media screen and (max-width: 901px) {

    .footer__container {
        margin-left: 50px;
    }
}

@media screen and (max-width: 801px) {

    .footer__container {
        margin-left: 40px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 701px) {

    .footer__container {
        margin-right: 45px;
    }
}

@media screen and (max-width: 671px) {

    .footer__container {
        flex-direction: column-reverse;
        margin-right: 0;
    }
}

@media screen and (max-width: 330px) {

    .footer__container {
        margin-left: 16px;
    }
}
.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 26px;
}

@media screen and (max-width: 671px) {

    .footer {
        align-items: flex-start;
        margin-top: 25px;
    }
}

@media screen and (max-width: 600px) {

    .about-footer {
        margin-top: 60px;
    }
}

@media screen and (max-width: 451px) {

    .footer {
        margin-top: 64px;
    }
}
.header__logo {
    width: 200px;
    height: 24px;
    color: white;
    font-size: 20px;
    line-height: 24px;
    font-family: Roboto Slab;
    font-weight: medium;
    margin-left: 104px;
}

.header__logo-black {
    color: #1A1B22;
}

@media screen and (max-width: 1283px) {

    .header__logo {
        margin-left: 94px;
    }
}

@media screen and (max-width: 1026px) {

    .header__logo {
        margin-left: 84px;
    }
}

@media screen and (max-width: 960px) {

    .header__logo {
        margin-left: 64px;
    }
}

@media screen and (max-width: 769px) {

    .header__logo {
        margin-left: 54px;
    }
}

@media screen and (max-width: 537px) {

    .header__logo {
        margin-left: 44px;
        font-size: 16px;
    }
}

@media screen and (max-width: 460px) {

    .header__logo {
        margin-left: 34px;
    }
}

@media screen and (max-width: 380px) {

    .header__logo {
        margin-left: 16px;
    }
}
.header__menu_active {
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
    font-family: Roboto;
    font-weight: normal;
}

.header__menu_active-black {
    color: #1A1B22;
}

@media screen and (max-width: 537px) {

    .header__menu_active {
        font-size: 16px;
    }
}
.header__menu_inactive {
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    text-decoration: none;
    font-family: Roboto;
    font-weight: normal;
}

.header__menu_inactive:hover {
    color: white;
}

.header__menu_inactive-black:hover {
    color: #1A1B22
}

@media screen and (max-width: 537px) {

    .header__menu_inactive {
        font-size: 16px;
    }
}
.header__menu {
    width: 189px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    margin-right: 101px;
}

@media screen and (max-width: 1283px) {

    .header__menu {
        margin-right: 91px;
    }
}

@media screen and (max-width: 1026px) {

    .header__menu {
        margin-right: 81px;
    }
}

@media screen and (max-width: 960px) {

    .header__menu {
        margin-right: 61px;
    }
}

@media screen and (max-width: 769px) {

    .header__menu {
        margin-right: 51px;
    }
}

@media screen and (max-width: 537px) {

    .header__menu {
        margin-right: 41px;
    }
}

@media screen and (max-width: 460px) {

    .header__menu {
        margin-right: 31px;
        width: 200px;
    }
}

@media screen and (max-width: 380px) {

    .header__menu {
        margin-right: 14px;
    }
}
.header {
    height: 80px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 769px) {

    .header {
        height: 64px;
    }
}

@media screen and (max-width: 380px) {

    .header {
        height: 56px;
    }
}
.about-author__photo {
    width: 464px;
    height: 464px;
    border-radius: 1000px;
    margin-top: 80px;
    object-fit: cover;
}

@media screen and (max-width: 1151px) {

    .about-author__photo {
        width: 364px;
        height: 364px;
    }
}

@media screen and (max-width: 940px) {

    .about-author__photo {
        width: 232px;
        height: 232px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 350px) {

    .about-author__photo {
        width: 272px;
        height: 272px;
        margin-top: 16px;
    }
}
.about-author__article {
    width: 600px;
    height: 144px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    margin-top: 0;
}

@media screen and (max-width: 1171px) {

    .about-author__article {
        width: 500px;
    }
}

@media screen and (max-width: 940px) {

    .about-author__article {
        width: 424px;
        height: 216px;
    }
}

@media screen and (max-width: 451px) {

    .about-author__article {
        width: 288px;
    }
}
.about-author__title {
    width: 496px;
    height: 46px;
    font-family: Roboto Slab;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    margin-bottom: 24px;
    margin-top: 0;
}

@media screen and (max-width: 940px) {

    .about-author__title {
        font-size: 30px;
        line-height: 40px;
    }
}

@media screen and (max-width: 710px) {

    .about-author__title {
        width: 420px;
    }
}

@media screen and (max-width: 451px) {

    .about-author__title {
        width: 290px;
        margin-bottom: 16px;
    }
}
.about-author__texts {
    width: 600px;
    margin-top: 131px;
}

@media screen and (max-width: 1171px) {

    .about-author__texts {
        width: 500px;
    }
}

@media screen and (max-width: 940px) {

    .about-author__texts {
        width: 424px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 451px) {

    .about-author__texts {
        width: 288px;
        margin-top: 24px;
    }
}
.about-author__container {
    width: 1120px;
    display: flex;
    justify-content: space-between;
    margin-left: 104px; 
}

@media screen and (max-width: 1241px) {

    .about-author__container {
        margin-left: 50px;
    }
}

@media screen and (max-width: 1151px) {

    .about-author__container {
        width: 900px;
    }
}

@media screen and (max-width: 940px) {

    .about-author__container {
        width: 688px;
    }
}

@media screen and (max-width: 770px) {

    .about-author__container {
       margin-left: 40px;
    }
}

@media screen and (max-width: 740px) {

    .about-author__container {
       margin: auto;
    }
}

@media screen and (max-width: 710px) {

    .about-author__container {
        width: 500px;
       flex-direction: column;
       align-items: center;
    }
}

@media screen and (max-width: 501px) {

    .about-author__container {
        width: 424px;
       flex-direction: column;
       align-items: center;
    }
}

@media screen and (max-width: 451px) {

    .about-author__container {
        width: 288px;
    }
}
.about-author {
    padding-bottom: 80px;
}

@media screen and (max-width: 940px) {

    .about-author {
        padding-bottom: 25px;
    }
}

