.main__amount {
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
}
.main__subtitle {
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
}

.main__info-container {
    margin-top: 24px;
}

@media screen and (max-width: 401px) {

    .main__info-container {
        margin-top: 16px;
    }
}
.main__path-link {
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    text-decoration: none;
}

.main__path-link:hover {
    opacity: 0.4;
}
.main__path-place {
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
}
.main__path {
    width: 350px;
    height: 24px;
    margin-bottom: 80px;
}

@media screen and (max-width: 769px) {

    .main__path {
        margin-bottom: 64px;
    }
}

@media screen and (max-width: 401px) {

    .main__path {
        display: none;
    }
}
.main__title {
    width: 712px;
    height: 46px;
    margin: 0;
    font-family: Roboto Slab;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
}

@media screen and (max-width: 769px) {

    .main__title {
        font-size: 32px;
        line-height: 34px;
    }
}

@media screen and (max-width: 401px) {

    .main__title {
        font-size: 30px;
        width: 288px;
        height: 68px;
    }
}



.main {
    background-color: white;
    padding-left: 104px;
    padding-top: 40px;
    padding-bottom: 80px;
}

@media screen and (max-width: 901px) {

    .main {
        padding-left: 40px;
    }
}

@media screen and (max-width: 401px) {

    .main {
       padding-left: 16px;
       padding-top: 16px;
       padding-bottom: 24px;
    }
}
.analytics__bar {
    height: 24px;
    background-color: #2F71E5;
    color: white;
    margin-bottom: 56px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    padding-left: 6px;
}

.analytics__bar:last-of-type {
    margin-bottom: 0;
}
.analytics__bars {
    width: 100%;
}
.analytics__date {
    width: 104px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 80px;
    color: #1A1B22;
}
.analytics__days {
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -29px;
}
.analytics__diagramm {
    width: 100%;
    margin-top: 48px;
    display: flex;
    margin-bottom: 16px;
}

@media screen and (max-width: 401px) {

    .analytics__diagramm {
        margin-top: 18px;
        margin-bottom: 0;
    }
}
.analytics__info-amount {
    width: 150px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
}
.analytics__info-date {
    width: 60px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
}

.analytics__info {
    width: 253px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 48px;
}

@media screen and (max-width: 401px) {

    .analytics__info {
        margin-top: 16px;
    }
}
.analytics__line-digit {
    font-family: Roboto;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
}
.analytics__line-digits {
    display: flex;
    justify-content: space-between;
    margin-left: 104px;
}

@media screen and (max-width: 770px) {

    .analytics__line-digits {
        margin-left: 110px;
    }
}

@media screen and (max-width: 401px) {

    .analytics__line-digits {
        display: none;
    }
}
.analytics__line {
    margin-left: 0;
}
.analytics__graph {
    width: 86%;
    margin: auto;
}

@media screen and (max-width: 770px) {

    .analytics__graph {
        width: 90%;
    }
}
.analytics__title {
    margin: 0;
    width: 300px;
    height: 30px;
    font-family: Roboto Slab;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
}

@media screen and (max-width: 401px) {

    .analytics__title {
        font-size: 22px;
        line-height: 30px;
    }
}
.analytics {
    width: 100%;
    background-color: #F5F6F7;
    padding-bottom: 40px;
    padding-top: 80px;
}

@media screen and (max-width: 801px) {

    .analytics {
        padding-top: 40px;
    }
}

@media screen and (max-width: 401px) {

    .analytics {
        padding-top: 24px;
    }
}
@font-face {
    src: url(/news-diploma-project/./vendor/roboto-medium-webfont.woff);
    font-family: Roboto;
    font-weight: 500;
}

@font-face {
    src: url(/news-diploma-project/./vendor/roboto-regular-webfont.woff);
    font-family: Roboto;
    font-weight: normal;
}

@font-face {
    src:  url(/news-diploma-project/./vendor/robotoslab-regular-webfont.woff);
    font-family: Roboto Slab;
    font-weight: lighter;
}
.header__logo {
    width: 200px;
    height: 24px;
    color: white;
    font-size: 20px;
    line-height: 24px;
    font-family: Roboto Slab;
    font-weight: medium;
    margin-left: 104px;
}

.header__logo-black {
    color: #1A1B22;
}

@media screen and (max-width: 1283px) {

    .header__logo {
        margin-left: 94px;
    }
}

@media screen and (max-width: 1026px) {

    .header__logo {
        margin-left: 84px;
    }
}

@media screen and (max-width: 960px) {

    .header__logo {
        margin-left: 64px;
    }
}

@media screen and (max-width: 769px) {

    .header__logo {
        margin-left: 54px;
    }
}

@media screen and (max-width: 537px) {

    .header__logo {
        margin-left: 44px;
        font-size: 16px;
    }
}

@media screen and (max-width: 460px) {

    .header__logo {
        margin-left: 34px;
    }
}

@media screen and (max-width: 380px) {

    .header__logo {
        margin-left: 16px;
    }
}
.header__menu_active {
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
    font-family: Roboto;
    font-weight: normal;
}

.header__menu_active-black {
    color: #1A1B22;
}

@media screen and (max-width: 537px) {

    .header__menu_active {
        font-size: 16px;
    }
}
.header__menu_inactive {
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    text-decoration: none;
    font-family: Roboto;
    font-weight: normal;
}

.header__menu_inactive:hover {
    color: white;
}

.header__menu_inactive-black:hover {
    color: #1A1B22
}

@media screen and (max-width: 537px) {

    .header__menu_inactive {
        font-size: 16px;
    }
}
.header__menu {
    width: 189px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    margin-right: 101px;
}

@media screen and (max-width: 1283px) {

    .header__menu {
        margin-right: 91px;
    }
}

@media screen and (max-width: 1026px) {

    .header__menu {
        margin-right: 81px;
    }
}

@media screen and (max-width: 960px) {

    .header__menu {
        margin-right: 61px;
    }
}

@media screen and (max-width: 769px) {

    .header__menu {
        margin-right: 51px;
    }
}

@media screen and (max-width: 537px) {

    .header__menu {
        margin-right: 41px;
    }
}

@media screen and (max-width: 460px) {

    .header__menu {
        margin-right: 31px;
        width: 200px;
    }
}

@media screen and (max-width: 380px) {

    .header__menu {
        margin-right: 14px;
    }
}
.header {
    height: 80px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 769px) {

    .header {
        height: 64px;
    }
}

@media screen and (max-width: 380px) {

    .header {
        height: 56px;
    }
}
.footer__link {
    width: 24px;
    height: 24px;
}

.cat {
    margin-right: 28px;
}

@media screen and (max-width: 451px) {

    .cat {
        margin-right: 21px;
    }
}
.footer__icons {
    width: 74px;
    display: flex;
    justify-content: space-between;
    margin-right: 104px;
}

@media screen and (max-width: 901px) {

    .footer__icons {
        margin-right: 50px;
    }
}

@media screen and (max-width: 801px) {

    .footer__icons {
        margin-right: 42px;
    }
}

@media screen and (max-width: 720px) {

    .footer__icons {
        width: 55px;
    }
}

@media screen and (max-width: 671px) {

    .footer__icons {
        width: 68px;
    }
}

@media screen and (max-width: 330px) {

    .footer__icons {
        margin-right: 18px;
    }
}
.footer__copyright {
    width: 130px;
    height: 22px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
}


.footer__menu-item {
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    font-family: Roboto;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
}

.footer__menu-item:hover {
    opacity: 0.4;
}
.footer__menu {
    width: 404px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 720px) {

    .footer__menu {
        width: 350px;
    }
}

@media screen and (max-width: 671px) {

    .footer__menu {
        width: 184px;
        height: 120px;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 40px;
    }
}
.footer__container {
    width: 850px;
    margin-left: 104px;
    display: flex;
    justify-content: space-between;
    margin-right: 75px;
}

@media screen and (max-width: 901px) {

    .footer__container {
        margin-left: 50px;
    }
}

@media screen and (max-width: 801px) {

    .footer__container {
        margin-left: 40px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 701px) {

    .footer__container {
        margin-right: 45px;
    }
}

@media screen and (max-width: 671px) {

    .footer__container {
        flex-direction: column-reverse;
        margin-right: 0;
    }
}

@media screen and (max-width: 330px) {

    .footer__container {
        margin-left: 16px;
    }
}
.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 26px;
}

@media screen and (max-width: 671px) {

    .footer {
        align-items: flex-start;
        margin-top: 25px;
    }
}

@media screen and (max-width: 600px) {

    .about-footer {
        margin-top: 60px;
    }
}

@media screen and (max-width: 451px) {

    .footer {
        margin-top: 64px;
    }
}
.searcher__bold-line {
    position: absolute;
    top: 72px;
    right: 221px;
    z-index: 2;
}

.searcher__bold-line-black {
    position: absolute;
    top: 72px;
    right: 93px;
    z-index: 2;
}

@media screen and (max-width: 1283px) {

    .searcher__bold-line {
        right: 210px;
    }

    .searcher__bold-line-black {
        right: 83px;
    }
}

@media screen and (max-width: 1026px) {

    .searcher__bold-line {
        right: 200px;
    }

    .searcher__bold-line-black {
        right: 72px;
    }
}

@media screen and (max-width: 960px) {

    .searcher__bold-line {
        right: 181px;
    }

    .searcher__bold-line-black {
        right: 52px;
    }
}

@media screen and (max-width: 769px) {

    .searcher__bold-line {
        top: 56px;
        right: 171px;
    }

    .searcher__bold-line-black {
        top: 56px;
        right: 43px;
    }
}

@media screen and (max-width: 537px) {

    .searcher__bold-line {
        right: 168px;
        width: 60px;
    }

    .searcher__bold-line-black {
        right: 36px;
        width: 80px;
    }
}

@media screen and (max-width: 460px) {

    .searcher__bold-line-black {
       right: 25px;
    }
}

@media screen and (max-width: 453px) {

    .searcher__bold-line {
       right: 161px;
    }
}

@media screen and (max-width: 443px) {

    .searcher__bold-line {
       right: 158px;
    }
}

@media screen and (max-width: 433px) {

    .searcher__bold-line {
       right: 153px;
    }
}

@media screen and (max-width: 423px) {

    .searcher__bold-line {
       right: 148px;
    }
}

@media screen and (max-width: 413px) {

    .searcher__bold-line {
       right: 143px;
    }
}

@media screen and (max-width: 403px) {

    .searcher__bold-line {
       right: 138px;
    }
}

@media screen and (max-width: 393px) {

    .searcher__bold-line {
       right: 133px;
    }
}

@media screen and (max-width: 383px) {

    .searcher__bold-line {
       right: 128px;
    }
}

@media screen and (max-width: 380px) {

    .searcher__bold-line {
        top: 48px;
    }

    .searcher__bold-line-black {
        top: 48px;
        right: 10px;
    }
}

@media screen and (max-width: 373px) {

    .searcher__bold-line {
       right: 123px;
    }
}

@media screen and (max-width: 363px) {

    .searcher__bold-line {
       right: 118px;
    }
}

@media screen and (max-width: 353px) {

    .searcher__bold-line {
       right: 113px;
    }
}

@media screen and (max-width: 343px) {

    .searcher__bold-line {
       right: 108px;
    }
}

@media screen and (max-width: 333px) {

    .searcher__bold-line {
       right: 103px;
    }
}

@media screen and (max-width: 323px) {

    .searcher__bold-line {
       right: 98px;
    }
}
@font-face{src:url(/news-diploma-project/./vendor/roboto-medium-webfont.woff);font-family:Roboto;font-weight:500}@font-face{src:url(/news-diploma-project/./vendor/roboto-regular-webfont.woff);font-family:Roboto;font-weight:400}@font-face{src:url(/news-diploma-project/./vendor/robotoslab-regular-webfont.woff);font-family:Roboto Slab;font-weight:lighter}
