.form__input {
    width: 582px;
    height: 62px;
    border-radius: 100px;
    border: none;
    position: absolute;
}

::-webkit-input-placeholder {color:#B6BCBF;}
::-moz-placeholder          {color:#B6BCBF;}
:-moz-placeholder           {color:#B6BCBF;}
:-ms-input-placeholder      {color:#B6BCBF;}

@media screen and (max-width: 769px) {

    .form__input {
        width: 400px;
        height: 56px;
    }
}

@media screen and (max-width: 483px) {

    .form__input {
        width: 375px;
    }
}

@media screen and (max-width: 410px) {

    .form__input {
        width: 355px;
    }
}

@media screen and (max-width: 380px) {

    .form__input {
        width: 265px;
    }
}